@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #127f4a;
}

.blink_animation {
  animation: blink_animation 2.5s linear infinite;
}

@keyframes blink_animation {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}

.shadow-black {
  box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.11);
}
.shadow-light {
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.05);
}

input[type='checkbox'] {
  accent-color: var(--primary-color);
}

.price-track-0,
.price-track-2 {
  background: blue !important;
}
.search-emoji {
  display: none !important;
}
.country-list .search-box {
  width: 90% !important;
  padding: 10px !important;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.05) !important;
}

.swiper-slide-thumb-active {
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
.swiper-button-prev,
.swiper-button-next {
  color: #544f4a !important;
  background-color: #fdf6f1;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: white !important;
  background-color: var(--primary-color);
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 15px !important;
  font-weight: 900 !important;
}
